$bgNavList: rgb(229, 229, 251);
$mainText: rgb(73, 28, 197);
$h1shadow: 0.06rem 0.1rem black;
$h2shadow: 0.01rem 0.011rem black;
$bgaboutme: rgb(207, 199, 226);
$bgprojects: rgb(251, 249, 252);
$bglinks: rgb(245, 241, 248);
$bga: white;

* {
  padding: 0;
  margin: 0;  
}

section {
  height: 100vh;
  width: 100vw;
  padding: 0;
  margin: 0;
  }

@media screen and (max-width: 460px) {

  nav {
    padding: 0.18rem;
    margin: 0;
    z-index: 100;
    position: fixed;
    overflow: auto;
    top: 0;
    left: 0;
    width: 100vw;
    background-color: $bgNavList;
    h1 {
      padding: 0;
      margin: 0;
      text-align: center;
      font-size: 2.2rem;
      color: $mainText;
      text-shadow: $mainshadow;
      background-color: $bgNavList;
    }
    ol {
      padding: 0 1.2rem 0 1.8rem;
      background-color: $bgNavList;
      li {
        padding: 0.3rem 0.6rem;
        background-color: $bgNavList;
        list-style: none;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        a {
          display: block;
          padding: 0.1rem 0.6rem;
          background-color: $bga;
          font-size: 0.7rem;
          border: 0.1rem ridge $mainText;
          border-radius: 1.6rem; 
        }
        a:hover {
          color: $bga;
          background-color: $mainText;
        }
      }
    }
  }
  h2 {
    font-size: 1.6rem;
    padding-top: 6rem;
    text-align: center;
    color: $mainText;
    text-shadow: $mainshadow;
  }

  div {
    font-size: 1rem;
    text-align: center;
  }

  #main-welcome {
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100vw;
    background-color: $bgNavList;
  }
  #aboutme {
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100vw;
    background-color: $bgaboutme;
  }
  #projects {
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100vw;
    background-color: $bgprojects;
  }
  #links {
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100vw;
    background-color: $bgNavList;
  }   
}