@import '_nav';
@import 'projects';
@import 'icon';

$bgNavList: rgb(229, 229, 251);
$mainText: rgb(72, 28, 196);
$h1shadow: 0.1rem 0.1rem black;
$h2shadow: 0.1rem 0.08rem black;
$bgaboutme: rgb(207, 199, 226);
$bgprojects: rgb(251, 249, 252);
$bglinks: rgb(245, 241, 248);
$bga: white;

* {
  padding: 0;
  margin: 0;  
}

section {
  height: 100vh;
  width: 100vw;
  padding: 0;
  margin: 0;
}

footer {
  background-color: $bgNavList;
  color: $bga;
}

@media screen and (max-width: 600px) {

  canvas {
    z-index: 0;
    top: 0;
    left: 0;
    max-height: 70vh;
  }

  h2 {
    font-size: 1.6rem;
    padding-top: 6rem;
    text-align: center;
    color: $mainText;
    text-shadow: $h2shadow;
  }
  div {
    font-size: 1rem;
    text-align: center;
  }
  #main-welcome {
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100vw;
    background-color: $bgNavList;
  }
  #aboutme {
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100vw;
    background-color: $bgaboutme;
    #img1 {
      width: 100vw;
      height: 5%;
    }
    p {
      font-size: 0.8rem;
      text-align: center;
    }
  }
  #links {
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100vw;
    background-color: $bgNavList;
  }   
}