body {
    text-align: center;
    background-color: rgba(167, 127, 111, 0.788);
    padding: 0;
    margin: 0;
}
canvas {
    background-color: rgba(167, 127, 111, 0.788);
    border: 1rem solid rgba(167, 127, 111, 0.788);
    border-radius: 13px; 
}

h1 {
    color: rgb(250, 246, 246);
    text-shadow: 0.2rem 0.2rem 0 rgba(136, 170, 233, 0.733), 0.4rem 0.4rem 0.1rem rgba(2, 43, 119, 0.931);
    font-size: 2rem;
}

h2 {
    color: rgb(250, 246, 246);
    text-shadow: 0.2rem 0.2rem 0 rgba(136, 170, 233, 0.733), 0.4rem 0.4rem 0.1rem rgba(2, 43, 119, 0.931);
    font-size: 1.4rem;
}

h3 {
    display: inline;
    padding-left: 1.4rem;
    font-size: 1.4rem;
    color: rgb(250, 246, 246);
    text-shadow: 0.1rem 0.1rem 0 rgba(136, 170, 233, 0.733), 0.2rem 0.2rem 0.05rem rgba(2, 43, 119, 0.931);
}

p {
    display: inline;
}

#full_body_div {
    width: 100vh;
    height: 60vh;
}

#displayScore {
    padding-left: 0.3rem;
    color: crimson;
    font-size: 1rem;
    font-weight: 900;
    text-shadow: 0.1rem 0.1rem 0 rgba(136, 170, 233, 0.733), 0.2rem 0.2rem 0.05rem rgba(2, 43, 119, 0.931);
}

#displayLives {
    padding-left: 0.3rem;
    color: crimson;
    font-size: 1rem;
    font-weight: 900;
    text-shadow: 0.1rem 0.1rem 0 rgba(136, 170, 233, 0.733), 0.2rem 0.2rem 0.05rem rgba(2, 43, 119, 0.931);
}

#per {
    padding-left: 0;
}

.modal {
    margin: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgb(97, 6, 62);
}

.modalContent {
    background-color: rgba(44, 54, 201, 0.9);
    margin: 25% auto;
    padding: 2rem 4rem;
    width: 50%;
    border: 0.8rem ridge blue;
}